{% extends '@Front/layout.html.twig' %}

{% block css %}
    <style>
        .scroll{
            overflow:scroll;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>La doc :</h1>
    <p>
        <a href="#">DOC JS</a><br/>
        <a href="{{ path('nelmio_api_doc_index') }}">DOC MOBILE</a>
    </p>

    <h3>doc connexion mobile : </h3>
    <p>
        Pour se connecter il faut demander un token au systeme de connexion :
    <div class="well well-sm scroll">
        http://cubbyhole.lyuz.net/oauth/v2/token?client_id=CLIENTID&client_secret=CLIENTSECRET&grant_type=password&username=YOURUSERNAME&password=YOURPASSWORD
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>CLIENTID</th>
            <th>CLIENTSECRET</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>beta.cubbyhole.lyuz.net</td>
            <td><code>1_4lrpzkp9xqm840ws48gwgok0wcsokwkokos88c044gcwskgggc</code></td>
            <td><code>6b30px9wao84kckwg4ggcsksoog8gosgk4888w0swww8swc000</code></td>
        </tr>
        <tr>
            <td>cubbyhole.lyuz.net</td>
            <td><code>1_2hlhgaqvr800wo48gkg4wgg0804swwg40kc0gcc0kwgoc8scgs</code></td>
            <td><code>3g1utl099zc40w808ocg0o8cs88gswsowoo8o8k4gscwo0ccw8</code></td>
        </tr>
        </tbody>
    </table>
    YOURUSERNAME et YOURPASSWORD c'est l'username et le password
    <br/>
    si les identifiants sont correct :
    <pre>
{
    "access_token": "YzI5NDFlZmUwMWRlZGU5N2EwZWRkNDRkNTkzMDUyODA1YzFkZDc3NzE0NzAzN2Y4YmIzY2MwMGJlNWU0MmIyMQ",
    "expires_in": 3600,
    "token_type": "bearer",
    "scope": "user",
    "refresh_token": "MmRlN2YzMzhkYjU0NWNmOTEzZTVmNTdjM2Y0MDc5ZWRlZDcyZGZmZjZkN2U3YzI1YzhiMTRjYmRjMWMwMDc3ZQ"
}</pre>
    dans le cas où les identifiants sont incorrect
    <pre>
{
    "error": "invalid_grant"
}</pre>

    L'access_token est utilisable pendant 1h pour rester identifier, au bout d'une heure, si on veut reutiliser un token il faut soit se reconnecter ou demander un nouveau token avec <code>&grant_type=refresh_token</code>
    exemple :
    <div class="well well-sm scroll">
        http://cubbyhole.lyuz.net/oauth/v2/token?client_id=CLIENTID&client_secret=CLIENTSECRET&grant_type=refresh_token&refresh_token=MmRlN2YzMzhkYjU0NWNmOTEzZTVmNTdjM2Y0MDc5ZWRlZDcyZGZmZjZkN2U3YzI1YzhiMTRjYmRjMWMwMDc3ZQ
    </div>
    avec comme retour correct un nouveau token avec la meme forme que celui du grant=password et quand le refresh token est mauvais :
    <pre>
{
    "error": "invalid_grant",
    "error_description": "Invalid refresh token"
}</pre>
    <br/>
    FIN
    </p>


{% endblock %}

