{% extends "@Front/layout.html.twig" %}

{% block body %}
    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"></span> Back</a><br/>
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock %}
