{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form._token) }}
            <h2>Edit profile :</h2>
            <hr class="colorgraph">

            <p class="text-danger">{{ form_errors(form) }}</p>

            <div class="form-group">
                {{ form_label(form.email,'Username :') }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email,'Email :') }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(form.current_password,'Current Password :') }}
                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Current Password'} }) }}
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12"><input type="submit" value="Edit" class="btn btn-primary btn-block btn-lg"
                                              tabindex="7"></div>
            </div>
        </form>
    </div>
</div>