{% trans_default_domain 'FOSUserBundle' %}

<p>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>
        Edit</a>
</p>

<p>Username: {{ user.username }} <br/>
    Email: {{ user.email }}</p>

<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        {% for subscription in user.subscriptions %}
            <tr>
                <td>{{ subscription.securedArea }}</td>
                <td>{{ subscription.start|date('Y-m-d') }}</td>
                <td>{{ subscription.end|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
