{% extends '@Front/layout.html.twig' %}


{% block body %}
    <div class="alert">
<h4>
    Maecenas nec nulla rutrum, ultrices diam vitae, convallis eros. Proin sodales pharetra elit posuere bibendum. Praesent semper tristique est ac vulputate. Fusce fringilla metus libero, in ornare nisi venenatis nec. Nulla varius libero neque, et commodo erat condimentum quis. Morbi at pretium massa. Aliquam quis dolor quam. Integer commodo ac risus non lacinia.
</h4>
    </div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Plan 1</h3>
                <p>Maecenas nec nulla rutrum, ultrices diam vitae, convallis eros. Proin sodales pharetra elit posuere bibendum. Praesent semper tristique est ac vulputate. Fusce fringilla metus libero, in ornare nisi venenatis nec.</p>
                <p><a href="{{ path('fos_user_registration_register') }}" class="btn btn-info btn-block" role="button">FREE</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Plan 2</h3>
                <p>Maecenas nec nulla rutrum, ultrices diam vitae, convallis eros. Proin sodales pharetra elit posuere bibendum. Praesent semper tristique est ac vulputate. Fusce fringilla metus libero, in ornare nisi venenatis nec.</p>
                <p><a href="{{ path('front.plan',{'planNumber' : 5}) }}" class="btn btn-info btn-block" role="button">Go 5€/m</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Plan 3</h3>
                <p>Maecenas nec nulla rutrum, ultrices diam vitae, convallis eros. Proin sodales pharetra elit posuere bibendum. Praesent semper tristique est ac vulputate. Fusce fringilla metus libero, in ornare nisi venenatis nec.</p>
                <p><a href="{{ path('front.plan',{'planNumber' : 10}) }}" class="btn btn-info btn-block" role="button">Go 10€/m</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
