{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ asset('public/image/pc.jpg') }}" class="img-rounded img-responsive">
                <div class="caption">
                    <h3>PC</h3>
                    <p>Version PC de l'application, elle permet de synchronisé vos fichier directement depuis votre ordinateur.</p>
                    <p><a href="{{ asset('public/download/windows_v1.zip') }}" class="btn btn-primary btn-block" role="button">Download</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ asset('public/image/android.jpg') }}" class="img-rounded img-responsive">
                <div class="caption">
                    <h3>Android</h3>
                    <p>Version Android, qui permet d'avoir les meme fonctionalité que sur la version web.</p>
                    <p><a href="#" class="btn btn-primary btn-block" role="button">Download</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{ asset('public/image/windowsphone.png') }}" class="img-rounded img-responsive">
                <div class="caption">
                    <h3>WindowsPhone</h3>
                    <p>La version windows phone développé standalone, permet de voir ses fichier et upload ses photos directement depuis votre telephone Windows.</p>
                    <p><a href="#" class="btn btn-primary btn-block" role="button">Download</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
