{% extends '@Front/layout.html.twig' %}

{% block css %}
    <style>
        #register {
            margin-top: 100px;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <a class="btn btn-warning btn-lg btn-block" id="register"
               href="{{ path('fos_user_registration_register') }}">Register</a>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="well">
                {% include '@Front/Login/fos_login.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

