{% extends '@Front/layout.html.twig' %}


{% block body %}
    <p>
        {% if plan == 5 %}
            <a href="{{ path('front.dev.setPlan',{'planNumber' : '5'}) }}" class="btn btn-warning">dev.setPlan5</a>
        {% elseif plan == 10 %}
            <a href="{{ path('front.dev.setPlan',{'planNumber' : '10'}) }}" class="btn btn-warning">dev.setPlan10</a>
        {% endif %}
    </p>
{% endblock %}
