<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cubbyhole</title>
    <script type="text/javascript" src="{{ asset('bootstrap/js/modernizr.js') }}"></script>
    <link href="{{ asset('bootstrap/css/bootstrap-yeti.min.css') }}" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar {
            margin-bottom: 20px;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('front.home') }}"><span style="position: absolute; top: 6px; font-size: 35px;" class="glyphicon glyphicon-cloud"></span> <span style="position: absolute; left:55px;" >Cubbyhole</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b
                                        class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('app.home') }}">{{ app.user.email }}</a></li>
                                <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li {% if app.request.attributes.get('_route') == 'front.download' %}class="active"{% endif %}><a
                                href="{{ path('front.download') }}">Download</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="marketing">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>
