{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form._token) }}
            <h2>Register :</h2>

            <hr class="colorgraph">
            <p class="text-danger">{{ form_errors(form) }}</p>

            <div class="form-group">
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'} }) }}
                    </div>
                </div>
            </div>
            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12"><input type="submit" value="Register" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
            </div>
        </form>
    </div>
</div>