{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}
    <style>
        .form-signin
        {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin, .form-signin .checkbox
        {
            margin-bottom: 10px;
        }
        .form-signin .checkbox
        {
            font-weight: normal;
        }
        .form-signin .form-control
        {
            position: relative;
            font-size: 16px;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .form-signin .form-control:focus
        {
            z-index: 2;
        }
        .form-signin input[type="text"]
        {
            margin-bottom: -1px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        .form-signin input[type="password"]
        {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>

    <form action="{{ path("fos_user_security_check") }}" class="form-signin" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <input type="text" class="form-control" placeholder="Email" id="username" name="_username" value="{{ last_username }}" required autofocus>

        <input type="password" class="form-control" placeholder="Password" id="password" name="_password" required>

        <input class="btn btn-lg btn-info btn-block" type="submit" id="_submit" name="_submit" value="Sign in" />

        <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me" id="remember_me" name="_remember_me" value="on" >
            Remember me
        </label>
    </form>



{% endblock fos_user_content %}
