span.icon-sm{
	height: 32px;
	width: 32px;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}

span.icon-sm.icon-cloud-upload{
	background-image: url('/bootstrap/img/icons/32x32/cloud_upload.png');
}

span.icon-sm.icon-folder-add{
	background-image: url('/bootstrap/img/icons/32x32/folder_add.png');
}

span.icon-sm.icon-folder{
	background-image: url('/bootstrap/img/icons/32x32/folder.png');
}

img.thumb{
	margin-right: 11px;
}

span.sprite {
	height: 32px;
	width: 32px;
	display: block;
	overflow: hidden;
	display: inline-block;
	background-image: url('/bootstrap/img/icons.png');
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 11px;
	margin-left: -1px;
}

span.sprite-folder {
	background-position: left -686px;
}

span.sprite-image {
	background-position: left -1980px;
}

span.sprite-fichier{
	background-position: left -1878px;
}

span.sprite-document{
	background-position: left -2318px; 
}

span.sprite-arrow-up-gray{
	background-position: left -8970px;
	width: 9px;
	height: 5px;
}

span.sprite-arrow-down-gray{
	background-position: left -8956px;
	width: 9px;
	height: 5px;
}

span.sprite-sm-web-rainbow{
	background-position: left -2811px;
    height: 19px;
    width: 19px;
    margin-right: 0px;
}


html {
    overflow-y: scroll;
}

body{
	background: white;
}

a{
	outline: none;
}

body > .container > .navbar{
	position: fixed;
	width: 1140px;
	z-index: 30;
}

body.modal-open {
	overflow: visible;
}

div.header-separator{
	position: fixed;
	padding-top: 190px;
	border-bottom: 2px solid #dddddd;
	background: white;
	z-index: 10;
	width: 900px;
}

div.page-hidden{
	visibility: hidden;
}

#context-menus span.glyphicon{
	margin-right: 11px;
}

.context-menu {
	z-index: 10000;
	background: white;
	border: 1px solid #bdc4c9;
	font-size: 13px;
	box-shadow: 2px 2px 12px #aaa;
}

.context-menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.context-menu li > a,
.context-menu li > div{
	display: block;
	padding: 5px 20px;
	clear: both;
	font-weight: 300;
	line-height: 1.42857143;
	white-space: nowrap;
	cursor: default;
	color: #222222;
	text-decoration: none;
	cursor: default;
}

.context-menu li:hover{
	background: #F5FAFE;
}

.dropdown-menu span.action{
	padding: 3px 20px;
	display: block;
	height: 25px !important;
	vertical-align: middle;
}

.table>tbody+tbody{
	border-top: none;
}

.action:hover{
	text-decoration: underline;
	cursor: pointer;
}

.btn-primary{
	background-color: #1BA1E2;
	border-color: #1BA1E2;
}

#notifications{
	position: fixed;
	top: 10px;
	text-align: center;
	margin: auto;
	width: 1140px;
	z-index: 30;
}

#notifications div{
	display: inline-block;
	padding: 7px;
	font-size: 15px;
}

#notifications div.alert-success{
	background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}

#notifications div.alert-warning{
	background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}

#notifications div.alert-danger{
	background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}

.page{
	background: white;
	margin-top: -20px;
	padding-left: 240px;
	z-index: 0;
}

#sidebar{
	position: fixed;
	z-index: 10;
	width: 240px;
	top: 135px;
}

#sidebar #logo{
	font-size: 50px;
	display: inline-block;
	margin-left: 40px;
	margin-top: 85px;
	color: #222222;
}

#sidebar #logo:hover{
	text-decoration: none;
	color: #222222;
}

#sidebar #main-nav{
	margin-top: 30px;
	list-style: none;
}

#sidebar #main-nav li{
	line-height: 28px;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
}

#sidebar #main-nav li.selected{
	font-weight: 500;
	margin-left: 10px;
}

.header{
	position: fixed;
	z-index: 20;
	background : white;
	width: 900px;
	min-height: 98px;
	padding-top: 100px;
	padding-bottom: 30px;
}

.header{
	font-size: 13px;
}

.header .help-text{
	margin-top: 40px;
}

#breadcrumb{
	width: 530px;
	float: left;
}

.breadcrumb-item,
.page-title{
	font-size: 18px;
	font-weight: 400;
}

input#browse-search-input:before{
	content: "\E003";
}

input#browse-search-input{
    box-shadow: none;
    padding-left: 25px;
    padding-right: 22px;
    border-radius: 3px;
    border: 1px solid #BDC4C9;
    width: 210px;
    font-size: 12px;
}

#search-ico{
	position: absolute;
	margin-top: 3px !important;
	margin-left: 2px !important;
}


#links-page .main-content{
	padding-top: 235px;
	font-size: 12px;
}

#links-page .main-content > div{
	padding: 8px;
	border-bottom: 1px solid #dddddd;
}

#shares-page .share-container{
	border-bottom: 1px solid #dddddd;
	padding: 5px;
}

#links-page .link,
#links-page .link-delete,
#shares-page .share,
#shares-page .share-delete{
	display: inline-block;
}

#links-page .link-delete,
#shares-page .share-delete{
	cursor: pointer;
}

#links-page .link,
#shares-page .share{
	width: 790px;
}

#links-page .link a,
#shares-page .share a{
	color: rgb(34, 34, 34);
}

#shares-page .share a{
	width: 450px;
	display: inline-block;
}

#browse-global-actions-bar{
	width: 370px;
	float: right;
}

#browse-files thead{
	position: fixed;
	z-index: 10;
	background: white;
}

#browse-box #bottom-notifications {
	position: fixed;
	bottom: 10px;
	z-index: 10;
	
	width: 900px;
}

#browse-box #bottom-notifications > div{
	background: #dddddd;
}

#browse-box #bottom-notifications #transferProgress{
	padding: 10px;
	height: 65px;
}

#browse-box #bottom-notifications #transferProgress #filesize{
	text-align: right;
	padding: 10px;
}

#browse-files tbody,
.main-content{
	display: block;
	padding-top: 194px;
	z-index: 0;
	width: 900px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#browse-files tbody span.glyphicon{
	font-size: 24px;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 7px;
}

#browse-files td.entity-name,
#browse-files th.entity-name{
	width: 450px;
}

#browse-files td.entity-name a{
	color: rgb(34,34,34);
}

#browse-files td.entity-name span.entity-name:hover{
	text-decoration: underline;
	cursor: pointer;
}

#browse-files td,
#browse-files th{
	width: 150px;
	float: left;
	display: block;
}


#browse-files thead tr{
	display: block;
	margin-top: 160px;
	width: 900px;
}

#browse-files tbody td{
	line-height: 32px;
	display: block;
	height: 50px;
}

#browse-files tbody td input{
	line-height: 18px;
}

#browse-global-actions-bar .global-action{
	font-size: 15px;
	margin-right: 15px;
}




#browse-files thead th{
	cursor: pointer;
}

#browse-files thead tr.actions-bar {
	height: 35px;
	display: block;
	border-bottom: 2px solid #dddddd;
}

#browse-files thead tr.actions-bar td{
	width: 900px;
	display: block;
	border-top: none;
	position: absolute;
}

#browse-files thead tr.actions-bar span.action{
	font-size: 12px;
}

#browse-files thead tr.actions-bar span.first{
	width: 200px;
	display: inline-block;
}



#browse-files thead tr.actions-bar span.first,
#browse-files thead tr.actions-bar span.action{
	margin-right: 20px;
	overflow: hidden;
	height: 17px;
	vertical-align: bottom;
}

#input-files{
	display: none;
}


#browse-files thead th.sortable-column-header{
	color: #AAAAAA;
	font-weight: 400;
}

#browse-files thead th.sortable-column-header.selected{
	font-weight: bold;
}

#browse-files tr.browse-file.selected td{
	background: #D9EDF7;
}

#browse-files tr.browse-file:hover{
	background: #F5FAFE;
}

#browse-global-actions-bar{
	text-align: right;
}

#browse-global-actions-bar span{
	margin: 1px;
	text-indent: 2px;
	word-spacing: 0px;
}

#browse-files tbody#empty-folder-message td{
	display: block;
	width: 900px;
	border-top: none;
	text-align: center;
}

.folder-tree{
	font-size: 12px;
	padding: 10px;
	border: 1px solid;
	height: 300px;
	overflow: auto;
}

.folder-tree div.folder{
	padding: 3px;
}

.folder-tree div.folder.selected{
	background-color: #D9EDF7;
}

.folder-tree span{
	display: inline-block;
}

.folder-tree span.folder-name{
	cursor: default;
}

.folder-tree span.glyphicon{
	margin-right: 4px;
	font-size: 10px;
}

.folder-tree span.glyphicon.action{
	text-decoration: none;
	margin-right: 6px;
}


#photos-body .photo{
	width: 225px;
	float: left;
}

#photos-body .photo img{
	width: 223px;
	border: 1px solid #dddddd;
	background: white;
}