{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div id="notifications" data-bind="foreach: notifications">
                <div data-bind="text : message,
                                attr : { class: displayClasses()}"></div>
    </div>
    <div id="sidebar">
        <ul id="main-nav">
            <li data-bind="with: pages[0], css : { selected : currentPage().name == 'files' }">
                <span class="glyphicon glyphicon-file"></span>
                <a href="#/files" data-bind="text: display"></a>
            </li>
            <li data-bind="with: pages[1], css : { selected : currentPage().name == 'photos' }">
                <span class="glyphicon glyphicon-picture"></span>
                <a href="#/photos" data-bind="text: display"></a>
            </li>
            <li data-bind="with: pages[2], css : { selected : currentPage().name == 'shares' }">
                <span class="glyphicon glyphicon-share"></span>
                <a href="#/shares" data-bind="text: display"></a>
            </li>
            <li data-bind="with: pages[3], css : { selected : currentPage().name == 'links' }">
                <span class="glyphicon glyphicon-link"></span>
                <a href="#/links" data-bind="text: display"></a>
            </li>
        </ul>
    </div>
    
    <div id="browse-box" class="page-hidden page" data-bind="css : { hidden : currentPage().name != 'files', 'current-page' : currentPage().name == 'files'}">
        <div id="browse-header" class="header">
            <div data-bind="foreach: breadcrumb" id="breadcrumb">
                <!-- ko if: $index() > 0 -->
                    <span class="breacrumb-separator">/</span>
                <!-- /ko -->
                <!-- ko ifnot: ($index() == ($root.breadcrumb().length - 1)) -->
                    <a data-bind="text: name, attr : { href : path() }" class="breadcrumb-item"></a>
                <!-- /ko -->
                <!-- ko if: ($index() == ($root.breadcrumb().length - 1)) -->
                    <span class="breadcrumb-item selected" data-bind="text: name"></span>
                <!-- /ko -->
            </div>
            <div id="browse-global-actions-bar">
                <span id="action-upload" class="global-action action"  data-toggle="modal" data-target="#modal-action-upload">
                    <span class="glyphicon glyphicon-cloud-upload" data-toggle="tooltip" data-placement="top" title="Transférer"></span>
                </span>
                <span id="action-new-folder" class="global-action action">
                    <span class="glyphicon glyphicon-folder-close" data-toggle="tooltip" data-placement="top" title="Nouveau dossier"></span>
                </span>
                <span id="share-folder" class="global-action action">
                    <span class="glyphicon glyphicon-share" data-toggle="tooltip" data-placement="top" title="Partager un dossier"></span>
                </span>
                <span id="global-share-link" class="global-action action" data-bind="css : { hidden : $root.chosenFolder().id == 0 }">
                    <span class="glyphicon glyphicon-link" data-toggle="tooltip" data-placement="top" title="Partager un lien"></span>
                </span>
                <input type="search" id="browse-search-input" placeholder="Rechercher" data-bind="value: query, valueUpdate: 'keyup'">
            </div>
        </div>

        <div id="bottom-notifications">
            <div id="transferProgress" data-bind="with: currentTransfer, css : { hidden: currentTransfer() == null }">
                <div id="fileinfos">
                    <span data-bind="text : name" id="filename"></span>
                    <span data-bind="text : size" id="filesize"></span>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            <div id="copyProgress" data-bind="with: isCopying, css : { hidden: isCopying() == null }">
                Copie de <span data-bind="text : name"></span>
            </div>
        </div>
        
        <table data-bind="with: chosenFolder" class="table hidden" id="browse-files">
            <thead>
                <tr data-bind="foreach: $root.sort.parameters,
                                css : { hidden : $root.selectedEntities().length != 0 }">
                    <th data-bind="click:  $root.changeSortParam,
                                   css: { 'selected' : $root.sort.chosenParam() == $data, 'entity-name' : $index() == 0 }" class="sortable-column-header">
                        <span data-bind="text : display"></span>
                        <!-- ko if: $data == $root.sort.chosenParam() -->
                            <span data-bind="attr : { class: $root.formatted.orderClasses() }"></span>
                        <!-- /ko -->
                    </th>
                </tr>
                <tr data-bind="css : { hidden : $root.selectedEntities().length != 1 }" class="actions-bar" id="actions-bar-single">
                    <td>
                        <div data-bind="with: $root.selectedEntities()[0]">
                            <span data-bind="text: name" class="first"></span>
                            <!-- ko if: $data.constructor.name == 'Folder' -->
                                <span id="share_folder" class="action">
                                    <span class="glyphicon glyphicon-share"></span>
                                    Inviter à rejoindre
                                </span>
                            <!-- /ko -->
                            <!-- ko if: link() == 0 -->
                                <span id="share_link-single" class="action">
                                    <span class="glyphicon glyphicon-link"></span>
                                    Partager le lien
                                </span>
                            <!-- /ko -->
                            <span id="download-single" class="action">
                                <span class="glyphicon glyphicon-cloud-download"></span>
                                Télécharger
                            </span>
                            <span id="remove-single-modal" class="action">
                                <span class="glyphicon glyphicon-remove"></span>
                                Supprimer
                            </span>
                            <span class="dropdown action">
                                <span data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    Plus <span class="caret"></span></span>
                                <div class="dropdown-menu" role="dropdown-menu">
                                    <span id="rename-single" class="action">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        Renommer
                                    </span>
                                    <span class="action move-modal">
                                        <span class="glyphicon glyphicon-briefcase"></span>
                                        Déplacer
                                    </span>
                                    <span class="action copy-modal">
                                        <span class="glyphicon glyphicon-file"></span>
                                        Copier
                                    </span>
                                </ul>
                            </span>

                        </div>
                    </td>
                </tr>
                <tr data-bind="css : { hidden: $root.selectedEntities().length <= 1 }" class="actions-bar" id="actions-bar-multiple">
                    <td>
                        <span class="first">
                            <span data-bind="text: $root.selectedEntities().length"></span> éléments sélectionnés
                        </span>
                        <span id="remove-multiple-modal" class="action">
                            <span class="glyphicon glyphicon-remove"></span>
                            Supprimer
                        </span>
                        <span class="action move-modal">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            Déplacer
                        </span>
                        <span class="action copy-modal">
                            <span class="glyphicon glyphicon-file"></span>
                            Copier
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody data-bind="foreach: children, 
                              css : { hidden : $root.isSearching() || children().length == 0 }">
                <tr class="browse-file" data-bind="css: { selected: $data.isSelected(), folder : $data.constructor.name == 'Folder' }"  draggable="true">
                    <td class="entity-name">
                        <!-- ko if: $data.constructor.name == 'Folder' -->
                            <span class="sprite sprite-folder"></span>
                            <!-- ko if: name() && previousName() == null -->
                                <span class="entity-name"><a data-bind="text: name, attr : { href : path() }"></a></span>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $data.constructor.name == 'File' -->
                            <!-- ko if: type != 'image' -->
                                <span data-bind="attr: { class: $data.getSprite() }"></span>
                            <!-- /ko -->
                            <!-- ko if: type == 'image' -->
                                <img class="thumb lazy" data-bind="attr : { 'data-original' : '/thumb/' + $data.uniq_id + '/' + $data.name() }">
                            <!-- /ko -->
                            <!-- ko if: name() && previousName() == null -->
                                <span class="entity-name"><a target='_blank' data-bind="text: name,
                                                                        attr: { href : '/download/' + $data.uniq_id + '/' + $data.name(),
                                                                                rel : parent.name() },
                                                                        css: { fancybox: type == 'image' }"></a></span>
                            <!-- /ko -->
                        <!-- /ko -->
                       
                        
                        <!-- ko if: name() == null && previousName() == null -->
                            <input type="text" class="entity-name create-folder"/>
                        <!-- /ko -->
                        <!-- ko if: previousName() != null -->
                            <input type="text" class="entity-name rename"/>
                        <!-- /ko -->
                    </td>
                    <!-- ko if: $data.constructor.name == 'Folder' -->
                        <td>dossier</td>
                        <td>&nbsp;</td>
                    <!-- /ko -->
                    <!-- ko if: $data.constructor.name == 'File' -->
                        <td data-bind="text: $data.type"></td>
                        <td data-bind="text: formatted.size "></td>
                    <!-- /ko -->
                    <td data-bind="text: formatted.updated_at"></td>   
                </tr>
            </tbody>
            <tbody id="empty-folder-message" data-bind="css : { hidden : $root.isSearching() || children().length != 0 }">
                <tr>
                    <td>
                        <b>Ce dossier est vide</b>
                        <br>
                        Faites glisser et déposer les fichiers dans cette fenêtre pour les transférer.
                    </td>
                </tr>
            </tbody>
            <tbody data-bind="foreach: $root.files, 
                              css : { hidden : $root.isSearching() == false }">
                <tr class="browse-file" data-bind="css: { selected: $data.isSelected() }">
                    <td class="entity-name">
                        <!-- ko if: type != 'image' -->
                            <span data-bind="attr: { class: $data.getSprite() }"></span>
                        <!-- /ko -->
                        <!-- ko if: type == 'image' -->
                            <img class="thumb lazy" data-bind="attr : { src : '/thumb/' + $data.uniq_id + '/' + $data.name() }">
                        <!-- /ko -->
                        <!-- ko if: name() && previousName() == null -->
                            <span class="entity-name"><a target='_blank' data-bind="text: name,
                                                                    attr: { href : '/download/' + $data.uniq_id + '/' + $data.name(),
                                                                            rel : parent.name() },
                                                                    css: { fancybox: type == 'image' }"></a></span>
                        <!-- /ko -->
                    </td>
                    <td data-bind="text: $data.getType()"></td>
                    <td data-bind="text: formatted.size "></td>
                    <td data-bind="text: formatted.updated_at"></td>   
                </tr>
            </tbody>
        </table>
    </div>


    <div id="photos-browser" class="page-hidden page" data-bind="css : { hidden : currentPage().name != 'photos', 'current-page' : currentPage().name == 'photos' }">
        <div id="photos-header" class="header">
            <div class="page-title">Photos personnelles</div>
        </div>
        <div class="header-separator"></div>
        <div id="photos-body" class="main-content" data-bind="foreach: images">
            <div class="photo">
                <a class="fancybox" data-bind="attr: { href : '/download/' + $data.uniq_id + '/' + $data.name() }">
                    <img data-bind="attr : { 'data-original' : '/thumb/' + $data.uniq_id + '/' + $data.name() + '?w=256' }" class="lazy"/>
                </a>
            </div>
        </div>
    </div>

    <div id="shares-page" class="page-hidden page" data-bind="css : { hidden : currentPage().name != 'shares', 'current-page' : currentPage().name == 'shares' }">
        <div id="shares-header" class="header">
            <div class="page-title">Partages</div>
        </div>
        <div data-bind="foreach: shares.list" class="main-content">
            <div class="share-container">
                <div class="share">
                    <span class="sprite sprite-folder"></span>
                    <span class="entity-name"><a target="_blank" data-bind="text: folder.name, attr: { href: '/shareLink/' + uniq_id }"></a></span>
                    <span class="share-with" data-bind="css : { hidden: mine == false }">
                        Partagé avec <span data-bind="text: $data.with"></span>
                    </span>
                    <span class="share-with" data-bind="css : { hidden: mine == true }">
                        Partagé par <span data-bind="text: $data.owner.email"></span>
                    </span>
                </div>
                <div class="share-delete" data-bind="css : { hidden: mine == false }">
                    <span>
                        <span class="glyphicon glyphicon-remove"></span>
                        Supprimer
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div id="links-page" class="page-hidden page" data-bind="css : { hidden : currentPage().name != 'links', 'current-page' : currentPage().name == 'links'}">
        <div id="links-header" class="header">
            <div class="page-title">Liens</div>
            <div class="help-text">
                Vous pouvez créer un lien vers n'importe quel fichier ou dossier. Vous pouvez ensuite envoyer ce liens à toutes les personnes que vous voulez (même si elles n'utilisent pas Cubbyhole) pour qu'elles puissent afficher le fichier ou le dossier.
            </div>
        </div>
        <div data-bind="foreach: links.list" class="main-content">
            <div data-bind="with: file">
                <div class="link">
                    <!-- ko if: $data.constructor.name == 'Folder' -->
                        <span class="sprite sprite-folder"></span>
                        <!-- ko if: name() && previousName() == null -->
                            <span class="entity-name"><a target="_blank" data-bind="text: name, attr: { href: '/shareLink/' + link().uniq_id }"></a></span>
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $data.constructor.name == 'File' -->
                        <!-- ko if: type != 'image' -->
                            <span data-bind="attr: { class: $data.getSprite() }"></span>
                        <!-- /ko -->
                        <!-- ko if: type == 'image' -->
                            <img class="thumb lazy" data-bind="attr : { 'data-original' : '/thumb/' + $data.uniq_id + '/' + $data.name() }">
                        <!-- /ko -->
                            <span class="entity-name"><a target="_blank" target="_blank"data-bind="text: name, attr: { href: '/shareLink/' + link().uniq_id }"></a></span>
                    <!-- /ko -->
                </div>
                <div class="link-delete">
                    <span>
                        <span class="glyphicon glyphicon-remove"></span>
                        Supprimer
                    </span>
                </div>
            </div>
        </div>
    </div>
    

    <div id="modals">
        <div class="modal fade" id="modal-action-upload">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Transférer vers Cubbyhole</h4>
                    </div>
                        <div class="modal-body">
                        <p>Choisissez des fichiers à transférer vers votre Cubbyhole.. Vous pouvez sélectionner plusieurs fichiers à la fois. Vous pouvez aussi faire glisser et déposer des fichiers sur cette page pour commencer le transfert.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="chooseFileBtn" class="btn btn-sm btn-primary">Choisir des fichiers</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="modal-action-remove-single" data-bind="with: $root.selectedEntities()[0]">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <!--ko if: $data.constructor.name == 'File'-->
                            <h4 class="modal-title">Supprimer le fichier ?</h4>
                        <!--/ko -->
                        <!-- ko if: $data.constructor.name == 'Folder' -->
                            <h4 class="modal-title">Supprimer le dossier ?</h4>
                        <!--/ko -->
                    </div>
                        <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer <span data-bind="text: name"></span> de votre Cubbyhole ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="remove-single-btn" class="btn btn-sm btn-primary">Supprimer</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="modal-action-remove-multiple">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Supprimer les fichiers ?</h4>
                    </div>
                        <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer ces <span data-bind="text : $root.selectedEntities().length"></span> éléments de votre Cubbyhole ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="remove-multiple-btn" class="btn btn-sm btn-primary">Supprimer</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-action-move">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Déplacer <span data-bind="text : $root.selectedEntities().length"></span> élément(s) vers...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="folder-tree move">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="move-btn" class="btn btn-sm btn-primary">Déplacer</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-action-copy">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Copier <span data-bind="text : $root.selectedEntities().length"></span> élément(s) vers...</h4>
                    </div>
                    <div class="modal-body">
                        <div class="folder-tree copy">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="copy-btn" class="btn btn-sm btn-primary">Copier</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-delete-link">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <!-- ko if: $root.links.current() != null -->
                            <h4 class="modal-title">Supprimer le lien vers <span data-bind="text : $root.links.current().name()"></span></h4>
                        <!-- /ko -->
                    </div>
                    <div class="modal-body">
                        Voulez-vous vraiment supprimer ce lien ? Une fois le lien supprimé, personne d'autre ne pourra consulter ce fichier.
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="delete-link-btn" class="btn btn-sm btn-primary">Supprimer</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-share">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <!-- ko if: $root.shares.current() != null -->
                            <h4 class="modal-title">Partager <span data-bind="text : $root.shares.current().name()"></span> avec un autre membre</h4>
                        <!-- /ko -->
                    </div>
                    <div class="modal-body">
                        <input type="email" placeholder="E-mail d'un membre">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="share-btn" class="btn btn-sm btn-primary">Partager</button>
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Annuler</button>      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="context-menus">
        <div id="fancybox-context-menu" class="context-menu hidden">
            <ul>
                <li id="fancybox-download"><a href="" alt="image-download" download><span class="glyphicon glyphicon-cloud-download"></span>Télécharger</a></li>
                <li id="fancybox-display-original"><a href="" target='_blank'><span class="glyphicon glyphicon-picture"></span>Afficher le fichier d'origine</a></li>
            </ul>
        </div>
        <div id="browser-context-menu" class="context-menu hidden">
            <ul>
                <li id="browser-context-menu-download-single" data-bind="css : { hidden : $root.selectedEntities().length > 1}">
                    <div><span class="glyphicon glyphicon-cloud-download"></span>Télécharger</div>
                </li>
                <li id="browser-context-menu-share">
                    <div><span class="glyphicon glyphicon-link"></span>Partager le lien</div>
                </li>
                <li id="browser-context-menu-remove">
                    <div><span class="glyphicon glyphicon-remove"></span>Supprimer</div>
                </li>
                <li id="browser-context-menu-rename" data-bind="css : { hidden : $root.selectedEntities().length > 1}">
                    <div><span class="glyphicon glyphicon-pencil"></span>Renommer</div>
                </li>
                <li id="browser-context-menu-move">
                    <div><span class="glyphicon glyphicon-briefcase"></span>Déplacer</div>
                </li>
                <li id="browser-context-menu-copy">
                    <div><span class="glyphicon glyphicon-file"></span>Copier</div>
                </li>
            </ul>
        </div>
    </div>

    <div id="hidden" class="hidden"></div>

    <input type="file" id="input-files" multiple/>

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.icon-large.min.css') }}">
    <link href="{{ asset('bootstrap/css/filetypes.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/css/halflings.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/css/cubbyhole.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/js/fancybox/source/jquery.fancybox.css?v=2.1.5') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/js/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bootstrap/js/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/sammy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/jquery.lazyload.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/cubbyholeUI.js') }}"></script>
    <script type="text/javascript">
        window.onload = function(){
            document.onselectstart = function() { return false; }
            table = document.getElementById('browse-files');
            table.classList.remove('hidden');
        }
    </script>
{% endblock %}


