{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span6" style="text-align:center">
            {% for file in sharedFile.files %}
                {% if file.isDirectory == false %}
                    <a class="btn btn-primary" href="{{ app.request.getSchemeAndHttpHost }}/download/{{ file.uniqId }}/{{ file.name }}">Download: {{ file.name }}</a><br/>
                {% else %}
                    Cant link directory<br/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}